

#modal {
  display: table;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: darkred;
  height: 90%;
  width: 90%;
  border: black;
  border-radius: 20px;
}

#userForm, #signUpForm  {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  margin: 10px;
}

#signUp, #signIn,#signUpForm{
  padding: 10px;
  margin: 10px;
}

body {
  display: table;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: beige;
  height: 90%;
  width: 90%;
}

#charsheet {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border: black;
  border-radius: 20px;
  background: white;
}

.form {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
}

.form_box{
  padding: 5px 50px;
  margin: 5px;
}

.group_2, .group_3, .fourcore{
  display: flex;
  align-self: center;
  margin: 10px;
  padding: 10px;
}

.charalign, .namerace {
  margin: 10px;
  padding: 10px;
}



































/*

Old Temp

body {
  display: flex;
  text-align: center;
}

#navbar {
  background: #A62300;
  height: 100%;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 50px;
  margin: 80px;
  border-style: solid;
  width: 50%;
  align-self: center;
  background: cornsilk;
  border-radius: 10px;
}

#charsheet {
  display: flex;
  position: absolute;
  flex-direction: column;
}

.form_box {
  display: flex;
  text-align: center;
  margin: 20px;
  padding: 5px 10px;
}

.button {
  align-self: center;
  border: 1px black solid;
  border-radius: 50px;
  text-align: center;
  padding: 15px 10px;
  margin: 15px;
}

.main_traits {
  display: flex;
  flex-direction: column;

}

.group_2 {
  display: flex;
  
}

.group_3{
  display: flex;
}
*/
