

#modal {
  display: table;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: darkred;
  height: 90%;
  width: 90%;
  border: black;
  border-radius: 20px;
}

#userForm, #signUpForm  {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  margin: 10px;
}

#signUp, #signIn,#signUpForm{
  padding: 10px;
  margin: 10px;
}

body {
  display: table;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: beige;
  height: 90%;
  width: 90%;
}

#charsheet {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border: black;
  border-radius: 20px;
  background: white;
}

.form {
  display: flex;
  flex-direction: column;
}

.form_box{
  padding: 5px 50px;
  margin: 5px;
  width: 110px;
}

.group_2, .group_3, .fourcore{
  display: flex;
  align-self: center;
  margin: 10px;
  padding: 10px;
}

.charalign, .namerace {
  margin: 10px;
  padding: 10px;
}
